#app {
    display: flex;
    justify-content: space-around;
}
body{
    background-color: rgb(255,192,203);
}
.column {
    margin-top: 20px;
    border: 1px ;
    padding: 25px;
    width: 250px;
    background-color: rgb(191, 178, 238);
}
.card {
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
.title {
    font-family: sans-serif;
    font-size: 18px;
}
.anti-dots {
    list-style-type: none;
}
input {
    font-family: sans-serif;
    font-size: 16px;
}
h2 {
    font-family: sans-serif;
    text-align: center;
}
h3 {
    font-family: sans-serif;
    text-align: center;
}
ul {
    padding: 0;
}
.but {
    background-color: rgb(199,21,133);
    margin-top: 20px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid gray;
}
p{
    font-family: sans-serif;
}
form {
    display: flex;
    flex-direction: column;
}
.form {
    height: 30px;
    width: 230px;
    border: 1px solid gray;
    margin-top: 15px;
    padding: 10px;
}
.data {
    height: 10px;
    border: 1px solid gray;
    margin-top: 15px;
    padding: 10px;
}
.board {
    display: flex;
    gap: 20px;
}
.overdue {
    color: red;
}
.completed {
    color: green;
}
.add-card-form {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(191, 178, 238);
}